{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "group" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Areas of Interest",
        "description" : "View all areas of interest."
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h3 class='panel-title'><i class='fa fa-users'></i>Areas of Interest</h3>
            </div>
            <div class='panel-body'>
                <div class="table-responsive">
                    <table id="table-aoi" class="tablesorter table table-bordered table-hover table-striped tablesorter-bootstrap" data-sortlist="[[0, 0]]">
                        <thead>
                            <tr>
                                <th class="sorter-metatext" data-column-name="id">ID<i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="location_name">Name <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="location_lng">Longitude <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="location_lat">Latitude <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="observe_from">Observe From<i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="observe_until">Observe Until<i class="fa fa-sort"></i></th>

                                <th data-column-name="flag_can_delete">Actions <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in earth_events %}
                            <tr>
                            <td>
                                    {{event.id}}
                                </td>
                                <td data-text="{{event.location_name}}">
                                    <strong>
                                        <i class="fa-fw"></i> {{event.location_name}}
                                    </strong>
                                </td>
                               
                                <td>
                                    {{event.location_lat}}
                                </td>
                                <td>
                                    {{event.location_lng}}
                                </td>    
                                   <td>
                                    {{event.observe_from}}
                                </td>
                                <td>
                                    {{event.observe_until}}
                                </td>                       
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>            
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#" data-id="{{event.id}}" class="js-group-edit" data-target="#dialog-group-edit" data-toggle="modal">
                                                <i class="fa fa-edit"></i> Edit Event
                                                </a>
                                            </li>
                                        
                                           
                                            <li>
                                                <a href="{{site.uri.public}}/map/swipe/?lat={{event.location_lat}}&lng={{event.location_lng}}&from={{event.observe_from}}&until={{event.observe_until}}&id={{event.id}}">
                                                <i class="fa fa-globe"></i> View in Swipe
                                                </a>
                                            </li> <li>
                                                <a href="{{site.uri.public}}/map/layers/?lat={{event.location_lat}}&lng={{event.location_lng}}&from={{event.observe_from}}&until={{event.observe_until}}&id={{event.id}}">
                                                <i class="fa fa-globe"></i> View in Layers
                                                </a>
                                            </li>
                                        
                                            <li>
                                            {% if group.can_delete == 1 %}
                                                <a href="#" data-id="{{group.id}}" class="js-group-delete" data-name="{{group.name}}" data-target="#dialog-group-delete" data-toggle="modal">
                                                <i class="fa fa-trash-o"></i> Delete group
                                                </a>
                                            {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'components/common/table-tablesorter-default.twig' with {'pager_id' : 'table-groups-pager'} %}
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <button type="button" class="btn btn-success js-group-create" data-toggle="modal" data-target="#dialog-group-create">
                            <i class="fa fa-plus-square"></i>  Create New AOI
                        </button>
                    </div>
                    <div class="col-md-6 text-right ">
                        <a href="#">View All Groups <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
        <script>            
            $(document).ready(function() {
                ufTable('table-aoi');
            });
        </script>
{% endblock %}

