
            {% extends "layouts/layout-dashboard.twig" %}
        
            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Update Group Titles",
                    "description" : "Update the title for every user in a particular group."
                }) %}
                {{ parent() }}
            {% endblock %}
         {% block page_scripts %}
        <link rel="stylesheet" href="../css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" href="../css/weather-icons.min.css" />

        <script src="../js/bootstrap-datepicker.min.js"></script>
        <script>
            $(document).ready(function() { 
                // Load the validator rules for this form
                var validators = {{validators | raw}};
                ufFormSubmit(
                  $("form[name='addAOI']"),
                  validators,
                  $("#userfrosting-alerts"),
                  function(data, statusText, jqXHR) {
                      // Reload the page on success
                      window.location.reload(true);   
                  }
                );
            });           
            $('#from-date').datepicker({
                startDate: "01/01/2014",
                startView: 2,
                todayBtn: "linked",
                clearBtn: true,
                autoclose: true
            });
            $('#from-date').on("changeDate", function() {
                $('#fromField').val(
              $('#from-date').datepicker('getDate').toISOString()
                );
                console.log ( $('#fromField').val());
            });

            $('#until-date').datepicker({
                todayBtn: "linked",
                clearBtn: true,
                autoclose: true,
                todayHighlight: true
            });
            $('#until-date').on("changeDate", function() {
                $('#untilField').val(
              $('#until-date').datepicker('getUTCDate').toISOString()
                );
                console.log ( $('#untilField').val());
            });

            $(document).ready(function(){
                $('#testing').change(
                    function () {
                        var method = $('option:selected', this).text();
                                        console.log (method);



                        if (method == "Flood") {
                            $('#label_class').removeClass().addClass("wi wi-flood");
                        } else if (method == "Bushfire") {
                            $('#label_class').removeClass().addClass("wi wi-fire");
                        } else if (method == "Volcano") {
                            $('#label_class').removeClass().addClass("wi wi-volcano");
                        } else if (method == "War") {
                            $('#label_class').removeClass().addClass("fa fa-bomb");
                        } else if (method == "Erosion") {
                            $('#label_class').removeClass().addClass("wi wi-tsunami");
                        } else if (method == "Earthquake") {
                            $('#label_class').removeClass().addClass("wi wi-earthquake");
                        } else if (method == "Vegetation") {
                            $('#label_class').removeClass().addClass("fa fa-tree");
                        } else if (method == "Mining/Development") {
                            $('#label_class').removeClass().addClass("fa fa-building");
                        } 

                        var labelClass = document.getElementById("label_class").className;
                        document.getElementById('label_icon').value = labelClass;
                                                console.log (document.getElementById('label_icon').value);

                    });
             });  
         

 
        </script>

        {% endblock %}

        {% block content %}
<style type="text/css">
    .select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

#label_class {
    font-size: 24px;
}
  
#map {
    width: 100%;
    height: 460px; 
  }
</style>
<form class="form-horizontal" name="addAOI" method="post" action="{{form_action}}">

    <div id="form-alerts"></div>

    <div class="row">
       <input type="hidden" name="user_id" value="{{user.id}}">
       <input type="hidden" name="aoi_label_icon" id="label_icon"  value="">

        <div class="col-sm-6">
            <div class="form-group">
                <label>Location Name</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                    <input type="text" class="form-control" name="location_name" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Label</label>
<div class="select-style" aria-describedby="basic-addon1">
<span class="input-group-addon" id="basic-addon1"><i id="label_class" class="wi wi-volcano"></i></span>
  <select id="testing" name="aoi_label">
    <option value="Volcano">Volcano</option>
    <option value="Erosion">Erosion</option>
    <option value="Bushfire">Bushfire</option>
    <option value="Flood">Flood</option>
    <option value="War">War</option>
    <option value="Earthquake">Earthquake</option>
    <option value="Vegetation">Vegetation</option>
    <option value="Mining/Development">Mining/Development</option>


  </select>
</div>
            </div>
        </div>
<!-- selecting Lat/Lng from map -->
        <div class="col-sm-12 ">
            <div class="form-group">
                <label>Latitude/Longitude</label>
                <div id="map"></div>
                <br>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                            <input id="lng" type="text" class="form-control" name="location_lng" placeholder="Longitude (Select point on map)">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                            <input id="lat" type="text" class="form-control" name="location_lat" placeholder="Latitude (Select point on map)">
                        </div>
                    </div>
            </div>
        </div> 
         <link rel="stylesheet" href="../css/leaflet.css" />
 <script src="../js/leaflet.js"></script>
<link rel="stylesheet" href="../css/Control.Geocoder.css" />
 <script src="../js/Control.Geocoder.js"></script>

 <script src="../js/addaoi.js"></script>

<!--datepicker test -->
        <div class="col-sm-6">
            <div id="from-date" class="form-group">
                <label>Observe From:</label>
                <div class="input-group date">
                    <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    <input type="hidden" name="observe_from" id="fromField">
                </div>
            </div>
          </div>
        <div id="until-date" class="col-sm-6">
            <div class="form-group">
                <label>Observe Until:</label>
                <div class="input-group date">
                    <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    <input type="hidden" name="observe_until" id="untilField">
                </div>
            </div>
          </div>
            <div class="col-sm-12">
                          <div class="form-group">
                <label>Description</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                    <textarea class="form-control" name="location_description" autocomplete="off"></textarea>
                </div>
            </div>
            </div>
    </div><br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <div class="vert-pad">
                <button type="submit" class="btn btn-block btn-lg btn-success">
                    {{submit_button}}
                </button>
            </div>          
        </div>
        
    </div>
</form>
<script>
// Load the validator rules for this form
var validators = {{validators | raw}};


</script>
{% endblock %}
