{% extends "layouts/layout-dashboard.twig" %} {# Set page properties (page.*) here. #} {% block page %} {# By putting this
in a special block, we ensure that it will be set AFTER the default values are set in the parent template, but BEFORE the
page itself is rendered. #} {% set page = page | merge({ "title" : "AfterEarth Map Viewer", "description" : "Dedicated to
the pursuit of genetic perfection, the zerg relentlessly hunt down and assimilate advanced species across the galaxy, incorporating
useful genetic code into their own." }) %} {{ parent() }} {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <style>
            #map {

                width: 100%;
                height: 460px;
            }

            .map-ui {
                background: #fff;
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                border-radius: 3px;
                width: 120px;
                border: 1px solid rgba(0, 0, 0, 0.4);
            }

            .map-ui a {
                font-size: 13px;
                color: #404040;
                display: block;
                margin: 0;
                padding: 0;
                padding: 10px;
                text-decoration: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                text-align: center;
            }

            .map-ui a:first-child {
                border-radius: 3px 3px 0 0;
            }

            .map-ui a:last-child {
                border: none;
                border-radius: 0 0 3px 3px;
            }

            .map-ui a:hover {
                background: #f8f8f8;
                color: #404040;
            }

            .map-ui a.active {
                background: #3887BE;
                color: #FFF;
            }

            .map-ui a.active:hover {
                background: #3074a4;
            }

            #container {
                position: relative;
                height: 500px;
            }

            #overlay {
                width: 100%;
                height: 40%;
                position: relative;
                outline: 1px solid green;
                pointer-events: none;
                z-index: 99;
            }
        </style>
        <h1 class="page-header"><span id="eventName"></span> | <strong>Layers</strong> </h1> <a href="" id="swipeLink" class="btn btn-success">
              <i class="fa fa-adjust"></i>  View in Swipe &raquo; 
            </a>

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div id="map">
        <nav id="map-ui" class="map-ui"></nav>
    </div>

</div>


<div class="row" >
    <table id="markers" style="display:none;" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Longitude</th>
                <th>Latitude</th>

            </tr>
        </thead>
        <tbody>
            {% for marker in markers %}

            <tr>
                <td> {{marker.id}}</td>
                <td> {{marker.content}}</td>
                <td> {{marker.longitude}}</td>
                <td> {{marker.latitude}}</td>
                <td>
                    <label class="btn btn-secondary">
            <input id="markerSwitch" type="checkbox" autocomplete="off"> Added to map
          </label>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br>
    <h3>Features</h3>
    <table id="ftable" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Center</th>
                <th>Toggle</th>
                        </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
       <input type="hidden" id="cUser" name="user_id" value="{{user.id}}">

</div>
<!-- <form class="form-horizontal" name="saveMarkers" method="post" action="{{form_action}}">

    <div id="form-alerts"></div>

    <div class="row">
       <input type="hidden" name="user_id" value="{{user.id}}">
       <input type="hidden" name="aoi_label_icon" id="label_icon"  value="">
        </div>

    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <div class="vert-pad">
                <button type="submit" class="btn btn-block btn-lg btn-success">
                    {{submit_button}}
                </button>
            </div>          
        </div>
        
    </div>
</form> -->
{% endblock %}

{% block page_scripts %}
<link rel="stylesheet" href="../css/leaflet.css" />
<script src="../js/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="stylesheet" href="../css/Control.Geocoder.css" />



<!-- Draw dependancies -->
<link rel="stylesheet" href="../css/leaflet.draw.css" />
<script src="../js/leaflet.draw.js"></script>
<link rel="stylesheet" href="../css/leaflet-measure.css">

<script src="../src/edit/handler/Edit.Poly.js"></script>
<script src="../src/edit/handler/Edit.SimpleShape.js"></script>
<script src="../src/edit/handler/Edit.Circle.js"></script>
<script src="../src/edit/handler/Edit.Rectangle.js"></script>

<script src="../src/draw/handler/Draw.Feature.js"></script>
<script src="../src/draw/handler/Draw.Polyline.js"></script>
<script src="../src/draw/handler/Draw.Polygon.js"></script>
<script src="../src/draw/handler/Draw.SimpleShape.js"></script>
<script src="../src/draw/handler/Draw.Rectangle.js"></script>
<script src="../src/draw/handler/Draw.Circle.js"></script>
<script src="../src/draw/handler/Draw.Marker.js"></script>

<script src="../src/ext/TouchEvents.js"></script>
<script src="../src/ext/LatLngUtil.js"></script>
<script src="../src/ext/GeometryUtil.js"></script>
<script src="../src/ext/LineUtil.Intersect.js"></script>
<script src="../src/ext/Polyline.Intersect.js"></script>
<script src="../src/ext/Polygon.Intersect.js"></script>

<script src="../src/Control.Draw.js"></script>
<script src="../src/Tooltip.js"></script>
<script src="../src/Toolbar.js"></script>

<script src="../src/draw/DrawToolbar.js"></script>
<script src="../src/edit/EditToolbar.js"></script>
<script src="../src/edit/handler/EditToolbar.Edit.js"></script>
<script src="../src/edit/handler/EditToolbar.Delete.js"></script>
<script src="../js/Control.Geocoder.js"></script>
<script src="../js/leaflet-measure.js"></script>
<script src="../js/layer.js"></script>


{% endblock %}