{% extends "layouts/layout-dashboard.twig" %} {# Set page properties (page.*) here. #} {% block page %} {# By putting this
in a special block, we ensure that it will be set AFTER the default values are set in the parent template, but BEFORE the
page itself is rendered. #} {% set page = page | merge({ "title" : "AfterEarth Map Viewer", "description" : "Dedicated to
the pursuit of genetic perfection, the zerg relentlessly hunt down and assimilate advanced species across the galaxy, incorporating
useful genetic code into their own." }) %} {{ parent() }} {% endblock %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <style>
      #map {

        width: 100%;
        height: 460px;
      }

      .range {
        position: relative;
        width: 100%;
        z-index: 1;
      }

      .menu-ui {
        background: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
      }

      .menu-ui a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
      }

      .menu-ui a:first-child {
        border-radius: 3px 3px 0 0;
      }

      .menu-ui a:last-child {
        border: none;
        border-radius: 0 0 3px 3px;
      }

      .menu-ui a:hover {
        background: #f8f8f8;
        color: #404040;
      }

      .menu-ui a.active {
        background: #3887BE;
        color: #FFF;
      }

      .menu-ui a.active:hover {
        background: #3074a4;
      }

      input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        margin: 5.85px 0;
      }

      input[type=range]:focus {
        outline: none;
      }

      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 11.3px;
        cursor: pointer;
        box-shadow: 0px 0px 1.7px #002200, 0px 0px 0px #003c00;
        background: #385928;
        border-radius: 1px;
        border: 1.1px solid #18d501;
      }

      input[type=range]::-webkit-slider-thumb {
        box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
        border: 2.5px solid #83e584;
        height: 23px;
        width: 23px;
        border-radius: 12px;
        background: #439643;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6.95px;
      }

      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #6dad4e;
      }

      input[type=range]::-moz-range-track {
        width: 100%;
        height: 11.3px;
        cursor: pointer;
        box-shadow: 0px 0px 1.7px #002200, 0px 0px 0px #003c00;
        background: #385928;
        border-radius: 1px;
        border: 1.1px solid #18d501;
      }

      input[type=range]::-moz-range-thumb {
        box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
        border: 2.5px solid #83e584;
        height: 23px;
        width: 23px;
        border-radius: 12px;
        background: #439643;
        cursor: pointer;
      }

      input[type=range]::-ms-track {
        width: 100%;
        height: 11.3px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      input[type=range]::-ms-fill-lower {
        background: #030502;
        border: 1.1px solid #18d501;
        border-radius: 2px;
        box-shadow: 0px 0px 1.7px #002200, 0px 0px 0px #003c00;
      }

      input[type=range]::-ms-fill-upper {
        background: #385928;
        border: 1.1px solid #18d501;
        border-radius: 2px;
        box-shadow: 0px 0px 1.7px #002200, 0px 0px 0px #003c00;
      }

      input[type=range]::-ms-thumb {
        box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
        border: 2.5px solid #83e584;
        height: 23px;
        width: 23px;
        border-radius: 12px;
        background: #439643;
        cursor: pointer;
        height: 11.3px;
      }

      input[type=range]:focus::-ms-fill-lower {
        background: #385928;
      }

      input[type=range]:focus::-ms-fill-upper {
        background: #6dad4e;
      }

      input[type=range] {
        z-index: 1000;
      }
    </style>

    <h1 id="eee" class="page-header"><span id="eventName"></span> | <strong>Swipe</strong></h1>
    <p>{{event.location_description}}</p>
    <a href="" id="layerLink" class="btn btn-info">
              <i class="fa fa-rocket"></i>  View in Layers &raquo; 
            </a>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <p id="results"></p>
  <div id="map">
    <input id='range' class='range' type='range' min='0' max='1.0' step='any' />
    <nav id="map-ui" class="map-ui"></nav>
  </div>

</div>

<div class="row">
  <h3>Features</h3>
  <table id="markers" class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Tools</th>
      </tr>
    </thead>
    <tbody>
      {% for marker in markers %}

      <tr>
        <td> {{marker.content}}</td>
        <td> {{marker.lat}}</td>
        <td> {{marker.lng}}</td>
        <td>
           <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off"> Added to map
          </label>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %} 

{% block page_scripts %}
<!--<link rel="stylesheet" href="../css/leaflet.css" />
 <script src="../js/leaflet.js"></script>-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<link rel="stylesheet" href="../css/Control.Geocoder.css" />
<link rel="stylesheet" href="../css/leaflet-measure.css">
<link rel="stylesheet" href="../css/Control.MiniMap.css" />
<script src="../js/Control.MiniMap.js" type="text/javascript"></script>



<!-- Draw dependancies -->
<link rel="stylesheet" href="../css/leaflet.draw.css" />
<script src="../js/leaflet.draw.js"></script>

<script src="../src/edit/handler/Edit.Poly.js"></script>
<script src="../src/edit/handler/Edit.SimpleShape.js"></script>
<script src="../src/edit/handler/Edit.Circle.js"></script>
<script src="../src/edit/handler/Edit.Rectangle.js"></script>

<script src="../src/draw/handler/Draw.Feature.js"></script>
<script src="../src/draw/handler/Draw.Polyline.js"></script>
<script src="../src/draw/handler/Draw.Polygon.js"></script>
<script src="../src/draw/handler/Draw.SimpleShape.js"></script>
<script src="../src/draw/handler/Draw.Rectangle.js"></script>
<script src="../src/draw/handler/Draw.Circle.js"></script>
<script src="../src/draw/handler/Draw.Marker.js"></script>

<script src="../src/ext/TouchEvents.js"></script>
<script src="../src/ext/LatLngUtil.js"></script>
<script src="../src/ext/GeometryUtil.js"></script>
<script src="../src/ext/LineUtil.Intersect.js"></script>
<script src="../src/ext/Polyline.Intersect.js"></script>
<script src="../src/ext/Polygon.Intersect.js"></script>

<script src="../src/Control.Draw.js"></script>
<script src="../src/Tooltip.js"></script>
<script src="../src/Toolbar.js"></script>

<script src="../src/draw/DrawToolbar.js"></script>
<script src="../src/edit/EditToolbar.js"></script>
<script src="../src/edit/handler/EditToolbar.Edit.js"></script>
<script src="../src/edit/handler/EditToolbar.Delete.js"></script>
<script src="../js/Control.Geocoder.js"></script>
<script src="../js/leaflet-measure.js"></script>
<script src="../js/map.js"></script>


{% endblock %}