{% extends "layouts/layout-jumbotron.twig" %}
{% set page_group = "loggedout" %}

{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}
    
    {% set page = page | merge({
        "title"       : "Observe Earth over Time",
        "description" : "Main landing page for public access to this website.",
        "active_page" : ""
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}    
    <h1><strong>{{site.site_title}}</strong></h1>
    <p class="lead">Earth is all about change.</p>
    <p> We allow you to learn from it.</p>
    {% include 'components/common/alerts.twig' %}	
    <div class="row">
        <div class="col-sm-12">
          <a href="{{site.uri.public}}/account/login" class="btn btn-success" role="button" value="Login">Login</a>
        </div>
    </div>
    {% include 'components/jumbotron/jumbotron-links.twig' %}	
{% endblock %}
