{% extends "layouts/layout-dashboard.twig" %}
            {% set page_group = "dashboard" %}

            {# Set page properties (page.*) here. #}
            {% block page %}
                {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
                but BEFORE the page itself is rendered. #}    
                {% set page = page | merge({
                    "title"       : "Dashboard",
                    "description" : "Your user dashboard."
                }) %}
                {{ parent() }}
            {% endblock %}
 {% block page_scripts %}
         <link rel="stylesheet" href="../../css/weather-icons.min.css" />

<script type="text/javascript">
             $(document).ready(function(){

                        var label = $('#label-name').text();
                                        console.log (label);
});
                       /* if (method == "Flood") {
                            $('#label_class').removeClass().addClass("wi wi-flood");
                        } else if (method == "Bushfire") {
                            $('#label_class').removeClass().addClass("wi wi-fire");
                        } else if (method == "Volcano") {
                            $('#label_class').removeClass().addClass("wi wi-volcano");
                        } else if (method == "War") {
                            $('#label_class').removeClass().addClass("fa fa-bomb");
                        } else if (method == "Erosion") {
                            $('#label_class').removeClass().addClass("wi wi-tsunami");
                        } else if (method == "Earthquake") {
                            $('#label_class').removeClass().addClass("wi wi-earthquake");
                        } else if (method == "Vegetation") {
                            $('#label_class').removeClass().addClass("fa fa-tree");
                        } else if (method == "Mining/Development") {
                            $('#label_class').removeClass().addClass("fa fa-building");
                        } 
                    });
             */
</script>
<style type="text/css">
  #label-icon {
    font-size:24px;
    padding:5px;
  }
  .label {
    color:black;
    padding-bottom: 5px;
    position: relative;
    bottom: 10px;
    margin-right: -14px;
    height: 40px;
  }
</style>
 {% endblock %}
            {% block content %}
<div class="container">
                <h1>Areas of Interest</h1>



{% for aoi in aois %}
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-globe"></i>  {{aoi.location_name}}<span id="label-name" class="pull-right label label-warning">{{aoi.aoi_label}}  &nbsp;<i id="label-icon" class="{{aoi.aoi_label_icon}}"></i></span></h3>
    </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
         <p>{{aoi.location_description}}</p>
      </div>
      <div class="col-sm-3">
           <h5><strong>Coordinates</strong></h5>
            {{aoi.created_at}}<br>
            <h6><strong>Latitude:</strong></h6>
            {{aoi.location_lat}}<br>
            <h6><strong>Longitude:</strong></h6>
            {{aoi.location_lng}}<br>
             <h5><strong>Date Range</strong></h5>
            <h6<strong>From:</strong></h6>
            {{aoi.observe_from}}<br>
            <h6><strong>Until:</strong></h6>
            {{aoi.observe_until}}<br>
            <h6><strong>AOI Created:</strong></h6>
            {{aoi.created_at}}<br>
      </div>
      <div class="col-sm-3">
           <h5><strong>Tools</strong></h5>
            <a href="{{site.uri.public}}/map/swipe/?lat={{aoi.location_lat}}&lng={{aoi.location_lng}}&from={{aoi.observe_from}}&until={{aoi.observe_until}}&id={{aoi.id}}&name={{aoi.location_name}}" class="btn btn-success">
              <i class="fa fa-adjust"></i>  View in Swipe &raquo; 
            </a>
            <br>
            <br>
            <a href="{{site.uri.public}}/map/layers/?lat={{aoi.location_lat}}&lng={{aoi.location_lng}}&from={{aoi.observe_from}}&until={{aoi.observe_until}}&id={{aoi.id}}&name={{aoi.location_name}}" class="btn btn-info">
              <i class="fa fa-rocket"></i>  View in Layers &raquo; 
            </a>
            <br>
            <br>
            <a href="{{site.uri.public}}/map/layers/?lat={{aoi.location_lat}}&lng={{aoi.location_lng}}&from={{aoi.observe_from}}&until={{aoi.observe_until}}&id={{aoi.id}}&name={{aoi.location_name}}" class="btn btn-warning">
              <i class="fa fa-clock-o"></i>  View in Lapse &raquo; 
            </a>
    </div>
  </div>
</div>
                  {% endfor %}
</div>
            {% endblock %}
