{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "dashboard" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Dashboard",
        "description" : "Your user dashboard."
    }) %}
    {{ parent() }}
{% endblock %}
        

{% block content %}
         <link rel="stylesheet" href="css/weather-icons.min.css" />

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">            
        <div class="alert alert-success alert-dismissable">
          <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Welcome to {{site.site_title}}!
          <p><strong>After Earth</strong>  is a tool for documenting and observing earth changes and events such as:
              <ul>
                  <li>Bushfires</li>
                  <li>Earthquake Damage</li>
                  <li>Coastal Erosion</li>
                  <li>Vegetation Change</li>
                  <li>Illegal Clearing/Deforestation</li>
                  <li>...and many other events.</li>
              </ul>
          </p> To get started:
          <br><a class="alert-link" href='../aoi'>Create your first Area of Interest</a>: Define the latitude and longitude of the area, enter in a valid date range, put a label on it for later, give it a description and off you go!
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!-- /.panel -->
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i>Your Timeline
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
{% for aoi in aois %}
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="{{aoi.aoi_label_icon}}"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{aoi.location_name}}</h4>
                                <h5 class="timeline-title">{{aoi.aoi_label}}</h5>
                            </div>
                            <div class="timeline-body">
                                <p>{{aoi.location_description}}</p>
                                <p><h6><strong>AOI Created:</strong></h6>
            {{aoi.created_at}}<br></p>
             <div class="col-sm-6">
           <h5><strong>Coordinates</strong></h5>
            <h6><strong>Latitude:</strong></h6>
            {{aoi.location_lat}}<br>
            <h6><strong>Longitude:</strong></h6>
            {{aoi.location_lng}}<br>
             <h5><strong>Date Range</strong></h5>
            <h6><strong>From:</strong></h6>
            {{aoi.observe_from}}<br>
            <h6><strong>Until:</strong></h6>
            {{aoi.observe_until}}<br>

      </div>
            <div class="col-sm-6">
           <h5><strong>Tools</strong></h5>
            <a href="{{site.uri.public}}/map/swipe/?lat={{aoi.location_lat}}&lng={{aoi.location_lng}}&from={{aoi.observe_from}}&until={{aoi.observe_until}}&id={{aoi.id}}&location={{aoi.location_name}}" class="btn btn-success">
              <i class="fa fa-adjust"></i>  View in Swipe &raquo; 
            </a>
            <br>
            <br>
            <a href="{{site.uri.public}}/map/layers/?lat={{aoi.location_lat}}&lng={{aoi.location_lng}}&from={{aoi.observe_from}}&until={{aoi.observe_until}}&id={{aoi.id}}&name={{aoi.location_name}}" class="btn btn-info">
              <i class="fa fa-rocket"></i>  View in Layers &raquo; 
            </a>
            <br>
            <br>
            <a href="{{site.uri.public}}/map/swipe/?lat={{aoi.location_lat}}&lng={{aoi.location_lng}}&from={{aoi.observe_from}}&until={{aoi.observe_until}}&id={{aoi.id}}&name={{aoi.location_name}}" class="btn btn-warning">
              <i class="fa fa-clock-o"></i>  View in Lapse &raquo; 
            </a>
    </div>
                            </div>
                        </div>
                    </li>
                                     {% endfor %}

                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->

</div>
<!-- /.row -->
{% endblock %}
{% block page_scripts %}
        <script src="{{site.uri.js}}/articles.js"></script>


{% endblock %}