
            {% extends "layouts/layout-dashboard.twig" %}
        
            {% block page %}   
                {% set page = page | merge({
                    "title"       : "Update Group Titles",
                    "description" : "Update the title for every user in a particular group."
                }) %}
                {{ parent() }}
            {% endblock %}
            
        {% block page_scripts %}
            <script>
            $(document).ready(function() { 
                // Load the validator rules for this form
                var validators = {{validators | raw}};
                ufFormSubmit(
                  $("form[name='titles']"),
                  validators,
                  $("#userfrosting-alerts"),
                  function(data, statusText, jqXHR) {
                      // Reload the page on success
                      window.location.reload(true);   
                  }
                );
            });
        </script>
        {% endblock %}
                
        
            {% block content %}
              <div class="row">
                <div class="col-lg-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-users"></i> Add area of interest</h3>
                    </div>
                    <div class="panel-body">
                            <div class="container">
<form class="form-horizontal" role="form" name="addaoi" action="{{site.uri.public}}/map/aoi" method="post">        <fieldset>
        <div class="row">
          <div class="input-group input-group-lg col-md-12">
            <span class="input-group-addon" id="sizing-addon2">
              <strong>Latitude:</strong>
            </span>
          <input type="text" id="userLat" class="form-control" placeholder="Decimal format" aria-describedby="sizing-addon1">
      </div>
      <br>
          <div class="input-group input-group-lg col-md-12">
           <p class="help-block">This will become the new title for all users in the selected group.</p>
            <span class="input-group-addon" id="sizing-addon1">
              <strong>Longitude:</strong>
            </span>
          <input type="text" id="userLng" class="form-control" placeholder="Decimal format" aria-describedby="sizing-addon1">
      </div>
  
      <div class="form-group text-center">
                          <button type="submit" class="btn btn-success text-center">Add area</button>
                        </div>
</div><!-- end row -->
        </fieldset>
      </form>
      </div>
                    </div>
                  </div>
                </div>
                </div>
            {% endblock %}
        