{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "dashboard" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Dashboard",
        "description" : "Your user dashboard."
    }) %}
    {{ parent() }}
{% endblock %}
        

{% block content %}
         <link rel="stylesheet" href="css/weather-icons.min.css" />
<style type="text/css">
  .theview {
    width: 100%;
    height: 600px; 
  }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">HDEV Stream</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">            
    <iframe class="theview" src="http://www.ustream.tv/embed/17074538?html5ui" scrolling="no" allowfullscreen webkitallowfullscreen frameborder="0" style="border: 0 none transparent;"></iframe>
    </div>
</div>
<!-- /.row -->

    <!-- /.col-lg-8 -->
<!-- /.row -->
{% endblock %}
{% block page_scripts %}
        <script src="{{site.uri.js}}/articles.js"></script>


{% endblock %}