<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div>
            <!-- /input-group -->
        </li>
        
      <li>
            <a href="{{site.uri.public}}/dashboard"><i class="fa fa-dashboard fa-fw"></i> My Observations</a>
        </li>
        <!--
          <li>
            <a href="{{site.uri.public}}/map/areas/observations/"><i class="fa fa-space-shuttle"></i> My Observations</a>
        </li>
-->
        <li>
            <a href="{{site.uri.public}}/map/aoi"><i class="fa fa-tree"></i> Observe an Area</a>
        </li>  
       
        {% if checkAccess('uri_site_settings') %}
        <li>
            <a href="{{site.uri.public}}/map/areas/all"><i class="fa fa-globe"></i> All Areas</a>
        </li>
        {% endif %}
        {% if checkAccess('uri_map_swipe') %}
        <li>
            <a href="{{site.uri.public}}/map/swipe"><i class="fa fa-adjust"></i>  Swipe</a>
        </li>
        {% endif %}

        {% if checkAccess('uri_map_layers') %}
        <li>
            <a href="{{site.uri.public}}/map/layers"><i class="fa fa-rocket"></i>  Layers</a>
        </li>
        {% endif %}
        {% if checkAccess('uri_map_layers') %}
        <li>
            <a href="{{site.uri.public}}/map/layers"><i class="fa fa-clock-o"></i>  Lapse</a>
        </li>
        {% endif %}

        {% if checkAccess('uri_users') %}
        <li>
            <a href="{{site.uri.public}}/users"><i class="fa fa-users fa-fw"></i> {{ translate("MENU_USERS") }}</a>
        </li>
        {% endif %}
    
        {% if checkAccess('uri_site_settings') or checkAccess('uri_manage_groups') %}
        <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> {{ translate("MENU_CONFIGURATION") }}<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                {% if checkAccess('uri_site_settings') %}
                <li>
                    <a href="{{site.uri.public}}/config/settings"><i class="fa fa-globe fa-fw"></i> {{ translate("MENU_SITE_SETTINGS") }}</a>
                </li>
                {% endif %}
                {% if checkAccess('uri_manage_groups') %}
                <li>
                    <a href="{{site.uri.public}}/groups"><i class="fa fa-tags fa-fw"></i> {{ translate("MENU_GROUPS") }}</a>
                </li>
                {% endif %}
            </ul>
            <!-- /.nav-second-level -->
        </li>
        {% endif %}
    </ul>
</div>
<!-- /.sidebar-collapse -->
